<html>
    <div id="formDiv">
        <h2>Activate your account now</h2>
        <form id="myForm">
            {% csrf_token %}
            <input type="submit" value="Activate">
        </form>
    </div>
    
    <span id="msg"></span>
    <script>
        document.getElementById("myForm").addEventListener("submit",activateAccount);
        function activateAccount(e){
            e.preventDefault();

            let uid = "{{uid}}";
            let token = "{{token}}";

            
            const URL = "https://192.168.43.201:8000/auth/users/activation/"
            fetch(URL,{
                method:"POST",
                headers:{
                    'Accept':'application/json, text/plain ,*/*',
                    'Content-type':'application/json'
                },
                body:JSON.stringify({
                    uid:uid,token:token  
                })
            })
            .then((data) => {
                if(data.status == 204){
                document.getElementById("formDiv").style.display = "none";
                document.getElementById("msg").innerHTML = "your account activated successfully";
            }else if(data.status == 403){
                document.getElementById("formDiv").style.display = "none";
                document.getElementById("msg").innerHTML = "your account is already active";
            }
            // else{
            //     document.getElementById("formDiv").style.display = "none";
            //     document.getElementById("msg").innerHTML = `this link has been expired click <a href="{% url 'resend_activation' %}">here</a> to resend activation mail`;
                
            // }
            }
            )
        }
        
        
    </script>
</html>
