<!DOCTYPE html>
<html>
    <span id="msg"></span>
    <div id="formDiv">
        
    <h1>Change password</h1>

    <p id="demo"></p>
    
        <form id="form">
            {% csrf_token %}
            <input type="password" placeholder="password" id="p1" name="p1"/>
            <br>
            <input type="password" placeholder="confirm password" id="p2" name="p2"/>
            <br>
            <input type="submit" type="submit">
        </form>
    </div>
        <script>

        var form = document.getElementById("form")
        form.addEventListener('submit',postData)
        
        
            function postData(event){
                event.preventDefault();

                var uid = "{{uid}}";
                var token = "{{token}}";
                    let r;
                    let new_password=document.getElementById("p1").value
                    let re_new_password=document.getElementById("p2").value
                    const url = 'https://ec2-3-80-169-191.compute-1.amazonaws.com:8000/auth/users/reset_password_confirm/'
                    fetch(url, {method:"POST",
                        headers:{
                            'Accept':'application/json, text/plain ,*/*',
                            'Content-type':'application/json'
                        },
                        body:JSON.stringify({uid:uid,token:token,new_password:new_password,re_new_password:re_new_password})
                    })
                    .then((data) => {
                        document.getElementById("formDiv").style.display = "none";
                        if(data.status == 204){
                        document.getElementById("msg").innerHTML = "password changed successfully";
                        }else{
                        document.getElementById("msg").innerHTML = "this link has been expired";
                        }
                    }
                    // .then((data) =>  console.log(data+":"+JSON.stringify({'uid':uid,'token':token,'new_password':new_password,'re_new_password':re_new_password})))
                    // .catch((err)=>console.log(err))
                    )}

        
        </script>


</html>